.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}

.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}

.mb20{
    margin-bottom: 20px;
}

.mr5{
    margin-right: 5px;
}
.mr15{
    margin-right: 15px;
}